<mat-toolbar>
    <span>GRUPO</span>
</mat-toolbar>

<div *ngIf="paquetesAsignados.length > 0; else noPaquete">
    <div *ngFor="let paquete of paquetesAsignados">
        <mat-card class="card-package-tutor" style="display: flex; flex-direction: column;">

            <h3>Informacion de Grupo</h3>
            <p><strong>Nombre de la carrera:</strong> {{paquete.NombreCarrera}}</p>
            <p><strong>Tutor asignado:</strong> {{paquete.TutorAsignado.name}}</p>
            <p><strong>Email del tutor:</strong> {{paquete.TutorAsignado.email}}</p>

            <div style="display: flex; flex-wrap: wrap; width: 100%;">
                <mat-accordion style="width: 100%;">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Materias de Paquete
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let subjectSchedule of paquete.subjectsAndSchedules">
                            <p><b>Materia:</b> {{subjectSchedule.subject}}</p>
                            <p><b>Horario:</b> {{subjectSchedule.schedule}}</p>
                            <p><b>Profesor:</b> {{subjectSchedule.teacher}}</p>
                            <ng-container *ngIf="!subjectSchedule.showGrade">
                                <p>
                                    <b>Calificación:</b>
                                    <span style="color: #03a340; font-weight: bold; margin-left: 5px; font-size: 1.2em;">
                                      {{subjectSchedule.grade}}
                                    </span>
                                  </p>
                              </ng-container>
                              
                              <ng-container *ngIf="subjectSchedule.showGrade">
                                <mat-form-field appearance="outline" class="grade-input" style="width: 40%;">
                                  <mat-label>Calificación</mat-label>
                                  <input type="number" matInput [(ngModel)]="subjectSchedule.grade">
                                </mat-form-field>
                              
                                <button mat-raised-button color="primary"
                                  (click)="saveGrade(paquete.id, subjectSchedule)">Guardar calificación</button>
                              </ng-container>                    
                            <mat-divider></mat-divider>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <hr>
        </mat-card>
    </div>
</div>

<ng-template #noPaquete>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Tutorado</mat-card-title>
            <mat-card-subtitle>Usted no tiene Paquetes asignados dirigase ala pestaña de Grupos e inscribase al grupo que le corresponde si no tiene la Clave contacte a su tutor para que se la proporcione.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</ng-template>