<mat-drawer-container class="container" autosize>
    <mat-toolbar class="tool-bar">
     <button style="position: absolute; margin-right: 93%;" (click)="drawer.toggle()" mat-icon-button >
      <mat-icon style="color:white;">menu</mat-icon>
    </button>
    <span style="color:white; text-align: center;">Sistema De Gestion de Tutorias ITCJ</span>

    <div *ngIf="rol==='tutorado' || rol==='tutor'" class="demo-section">
      <mat-icon style="margin-left: 15%;" matBadge="1" matBadgeColor="warn" >notifications</mat-icon>
    </div>

  </mat-toolbar>
  
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-toolbar class="tool-bar-sidenav">
       <span style="color: rgb(255, 255, 255); margin-left: 5%;">Menu</span>
       <button  (click)="drawer.toggle()" mat-icon-button  style="color: rgb(255, 255, 255);margin-left: 50%;" >
       <mat-icon>cancel</mat-icon>
      </button>
     </mat-toolbar>
  
     <mat-list role="list">
      <mat-list-item role="listitem">{{name}}
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item >
          <mat-icon>person</mat-icon>
          <span routerLink="pages/perfil">Perfil</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>settings</mat-icon>
          <span>Configuracion</span>
        </button>
        <button  (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>cerrar sesion</span>
        </button>
      </mat-menu>
    </mat-list>
    <mat-divider></mat-divider>
  
    <mat-accordion  *ngIf="rol==='administrador' || rol==='tutor'"  >
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
          Usuarios
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button  style="width: 100%;" mat-stroked-button color="warn" routerLink="pages/usuarios">Ver Usuarios</button>
        <button *ngIf="rol==='administrador'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/create-user">crear Usuarios</button>
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-accordion *ngIf="rol==='administrador'">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
           Acciones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol==='administrador'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/change-rol">Cambiar rol</button>
        <button *ngIf="rol==='administrador'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/delete-user">Eliminar usuario</button>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header *ngIf="rol==='administrador'">
          <mat-panel-title>
           Base de Datos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol==='administrador'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/database">Informacion de Base datos</button>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header *ngIf="rol==='tutorado'">
          <mat-panel-title>
           Datos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol==='tutor'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/database">Mis Datos</button>
        <button *ngIf="rol==='tutorado'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/FichaIdentificacionTutoradoComponent">Ficha De identificacion</button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header *ngIf="rol==='tutorado'">
          <mat-panel-title>
           Tutorias
          </mat-panel-title>
        </mat-expansion-panel-header>
              <button *ngIf="rol==='tutorado'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/tutor-request">Solicitar</button>
              <button *ngIf="rol==='tutorado'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/tutor-history">Historial de solicitudes</button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="rol==='tutor'" >
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header *ngIf="rol==='tutor'">
          <mat-panel-title>
           Tutorias
          </mat-panel-title>
        </mat-expansion-panel-header>
              <button *ngIf="rol==='tutor'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/tutor-request">Solicitar</button>
              <button *ngIf="rol==='tutor'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" matBadge="1" [matBadgeHidden]="hidden" matBadgeColor="warn" (click)="toggleBadgeVisibility()" routerLink="pages/student-requests">Solicitud de tutorias</button>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header *ngIf="rol==='tutorado'">
          <mat-panel-title>
           portafolio Academico
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol==='tutorado'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/academic-portafolio">Seguimiento</button>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion  *ngIf="rol==='tutor'">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
           portafolios Academicos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol==='tutor'" style="margin-top:8px; width: 100%;" mat-stroked-button color="warn" routerLink="pages/academic-portafolios-tutor">Seguimiento portafolios</button>
      </mat-expansion-panel>
    </mat-accordion>


    

    
  
    <mat-toolbar class="foot-bar">
    </mat-toolbar>
  
    </mat-drawer>
      
  <div class="pages-main">
    <router-outlet></router-outlet>
  </div>

  <div class="container-card-welcome">
    <mat-card class="card-welcome">
        <mat-card-content>Bienvenido: {{name}}</mat-card-content>
      </mat-card>
 </div>

  <mat-toolbar class="foot-bar">
   <span>© ITCJ {{year}}</span>
 </mat-toolbar>
    
  </mat-drawer-container>