.center-content {
  margin-top: 100px;
  display:flex;
  justify-content: center;
}

.example-card {
  max-width: 400px;
  height: 450px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}


.example-full-width {
  margin-top: 10px;
   width: 100%;
}

.mat-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #929292;
}

.mat-card-header{
  justify-content:center;
  margin: 0 0px;
  margin-top: 30px;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}
