.center-content {
  height: 100vh;  /* This will take the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;  /* This will vertically align the spinner to center */
}


.example-card {
  max-width: 400px;
  height: auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(255, 1, 1, 0.22);
  border-radius: 15px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-top: 10px;
   width: 100%;
}

.mat-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #e02d2d;
}

.mat-stroked-button{
  margin-top: 10px;
  width: 100%;
  color: rgb(255, 0, 0);
  height: 40px;

}

.mat-card-header{
  justify-content:center;
  margin: 0 0px;
  margin-top: 30px;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}



