<mat-card>
    <mat-card-header>
      <mat-card-title>Perfil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nombre Completo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Rol">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Carrera">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Foto de Perfil">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Teléfono">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Información Adicional">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  