.cambio-rol-css{
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.demo-section {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
  }

  .mat-badge-large.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 450px;
}

.cambio-de-rol{
    width: 50%;
}
  