<div class="cambio-rol">
    <mat-form-field class="cambio-rol-css" appearance="outline">
        <mat-label>Buscar Usuario</mat-label>
        <input matInput placeholder="ingresa nombre, correo o numero de control">
        <mat-hint>*Verifica la informacion antes de eliminar algun usuario*</mat-hint>
      </mat-form-field>
  </div>
  
  
  <div matBadge="3" matBadgeSize="large" matBadgeColor="warn" class="demo-section">Resultados de la busqueda:</div>
  
  <mat-card style="margin-top: 2.5%;">
          <mat-card-title>Nombre:</mat-card-title>
          <mat-card-subtitle>Correo:</mat-card-subtitle>
          <mat-card-subtitle>Numero control:</mat-card-subtitle>
          <mat-card-subtitle>carerra:</mat-card-subtitle>
          <mat-card-subtitle>Rol:</mat-card-subtitle>
          <button style="width: 50%; margin-left: 25%;" mat-raised-button color="warn">Eliminar usuario</button>
    </mat-card>

    <mat-card style="margin-top: 2.5%;">
        <mat-card-title>Nombre:</mat-card-title>
        <mat-card-subtitle>Correo:</mat-card-subtitle>
        <mat-card-subtitle>Numero control:</mat-card-subtitle>
        <mat-card-subtitle>carerra:</mat-card-subtitle>
        <mat-card-subtitle>Rol:</mat-card-subtitle>
        <button style="width: 50%; margin-left: 25%;" mat-raised-button color="warn">Eliminar usuario</button>
  </mat-card>

  <mat-card style="margin-top: 2.5%;">
    <mat-card-title>Nombre:</mat-card-title>
    <mat-card-subtitle>Correo:</mat-card-subtitle>
    <mat-card-subtitle>Numero control:</mat-card-subtitle>
    <mat-card-subtitle>carerra:</mat-card-subtitle>
    <mat-card-subtitle>Rol:</mat-card-subtitle>
    <button style="width: 50%; margin-left: 25%;" mat-raised-button color="warn">Eliminar usuario</button>
</mat-card>