<ng-container *ngIf="!fichaTecnicaGuardada">
<mat-card class="fichaTutorado">
  <form [formGroup]="fichaTecnicaForm">
    <h1 style="text-align: center;">Datos Tutorado</h1>
    <div class="seccion-1">
      <mat-form-field appearance="outline">
        <mat-label>Carrera a la que pertenece</mat-label>
        <input matInput formControlName="carrera">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Número de Control</mat-label>
        <input matInput formControlName="numControl">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Semestre</mat-label>
        <input matInput formControlName="semestre">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Actual</mat-label>
        <input matInput formControlName="fecha" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <h2>Datos Generales</h2>

    <div class="seccion-2">
      <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="apellidoPaterno">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="apellidoMaterno">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre(s)</mat-label>
        <input matInput formControlName="nombres">
      </mat-form-field>

      <div class="sexo" style="justify-content:center;">
        <h2>Sexo:</h2>
        <mat-radio-group formControlName="sexo">
          <mat-radio-button value="H">Hombre</mat-radio-button>
          <mat-radio-button value="M">Mujer</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correoElectronico">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Domicilio</mat-label>
        <input matInput formControlName="domicilio">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Celular 1</mat-label>
        <input matInput formControlName="celular1">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Celular 2</mat-label>
        <input matInput formControlName="celular2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lugar de Nacimiento</mat-label>
      <input matInput formControlName="lugarNacimiento">
    </mat-form-field>

    </div>
<div class="seccion-3">
  <div class="seccion3-1" style="justify-content: center;">
    <H2>Estado civil:</H2>
    <mat-radio-group  formControlName="estadoCivil">
      <mat-radio-button  value="CASADO">Casado(a)</mat-radio-button>
      <mat-radio-button value="SOLTERO">Soltero(a)</mat-radio-button>
      <mat-radio-button value="OTRO">Otro</mat-radio-button>
    </mat-radio-group>


    <mat-form-field appearance="outline">
      <mat-label>Domicilio actual</mat-label>
      <input matInput formControlName="domicilioActual">
    </mat-form-field>
  </div>

<div class="seccion3-2" style="justify-content: center;">
    <H2>Escolaridad:</H2>
    <mat-radio-group  formControlName="escolaridad">
      <mat-radio-button  value="PREPARATORIA">Preparatoria</mat-radio-button>
      <mat-radio-button value="BACHILLERATO TECNICO">Bachillerato Tecnico</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la institucion</mat-label>
      <input matInput formControlName="nombreInstitucion">
    </mat-form-field>

    <H2>Has estado Becado:</H2>
    <mat-radio-group  formControlName="becado">
      <mat-radio-button  value="SI">SI</mat-radio-button>
      <mat-radio-button value="NO">NO</mat-radio-button>
      <mat-radio-button value="gobiernoFederal">Gobierno Federal</mat-radio-button>
      <mat-radio-button value="gobiernoEstatal">Gobierno Estatal</mat-radio-button>
      <mat-radio-button value="esfuerzosBachillerato">Esfuerzos Bachillerato</mat-radio-button>
    </mat-radio-group>




    <mat-form-field appearance="outline">
      <mat-label>Nombre de la institucion Esfuerzos</mat-label>
      <input matInput formControlName="nombreInstitucionEsfuerzos">
    </mat-form-field>
  </div>

</div>

    <div class="vivircon" style="justify-content: center;">
    <H2>En el transcurso de tus estudios viviras:</H2>
    <mat-radio-group  formControlName="vivirTranscursoEstudios">
      <mat-radio-button value="vivirConFamilia"> Vivir con familia</mat-radio-button>
      <mat-radio-button value="vivirConFamiliaresCercanos">Vivir con familiares</mat-radio-button>
      <mat-radio-button value="vivirConOtrosEstudiantes">vivir Con Otros Estudiantes</mat-radio-button>
      <mat-radio-button value="vivirSolo">vivir Solo</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="seccion-4">

  <div class="trabajas" style="justify-content: center;">
    <H2>Trabajas:</H2>
    <mat-radio-group  formControlName="trabajas">
      <mat-radio-button  value="SI">SI</mat-radio-button>
      <mat-radio-button value="NO">NO</mat-radio-button>
    </mat-radio-group>
  </div>

    <mat-form-field appearance="outline">
      <mat-label>Nombre de la empresa</mat-label>
      <input matInput formControlName="nombreEmpresaTrabajo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Horario trabajo</mat-label>
      <input matInput formControlName="horarioTrabajo">
    </mat-form-field>

  </div>

<div class="seccion-5">
    <div class="grados-padre" style="justify-content: center;">
    <H2>Maximo Grado de escolaridad Padre:</H2>
    <mat-radio-group  formControlName="maxGradoEscolaridadPadre">
      <mat-radio-button  value="Primaria">Primaria</mat-radio-button>
      <mat-radio-button value="secundaria">secundaria</mat-radio-button>
      <mat-radio-button value="Prepa">Prepa</mat-radio-button>
      <mat-radio-button value="Tecnico">Tecnico</mat-radio-button>
      <mat-radio-button value="SinEstudios">Sin Estudios</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="grados-madre" style="justify-content: center;">
    <H2>Maximo Grado de escolaridad Madre:</H2>
    <mat-radio-group  formControlName="maxGradoEscolaridadMadre">
      <mat-radio-button  value="Primaria">Primaria</mat-radio-button>
      <mat-radio-button value="secundaria">secundaria</mat-radio-button>
      <mat-radio-button value="Prepa">Prepa</mat-radio-button>
      <mat-radio-button value="Tecnico">Tecnico</mat-radio-button>
      <mat-radio-button value="SinEstudios">Sin Estudios</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="padre-vive" style="justify-content: center;">
    <H2>Tu padre vive?</H2>
    <mat-radio-group  formControlName="padreVive">
      <mat-radio-button  value="SI">SI</mat-radio-button>
      <mat-radio-button value="NO">NO</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="madre-vive" style="justify-content: center;">
    <H2>Tu madre vive?</H2>
    <mat-radio-group  formControlName="madreVive">
      <mat-radio-button  value="SI">SI</mat-radio-button>
      <mat-radio-button value="NO">NO</mat-radio-button>
    </mat-radio-group>
  </div>

    <mat-form-field appearance="outline">
      <mat-label>Nombre lugar de trabajo padre</mat-label>
      <input matInput formControlName="nombreLugarTrabajoPadre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre lugar de trabajo madre</mat-label>
      <input matInput formControlName="nombreLugarTrabajoMadre">
    </mat-form-field>
  </div>


  <div class="seccion-6">
<div class="emergencia" >
    <H2>En caso de emergencias comunicarse con:</H2>
    <mat-form-field appearance="outline">
      <mat-label>Nombre Contacto Emergencia</mat-label>
      <input matInput formControlName="nombreContactoEmergencia">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefono Contacto Emergencia</mat-label>
      <input matInput formControlName="telefonoContactoEmergencia">
    </mat-form-field>
  </div>
</div>
<button style="width: 100%;" mat-button mat-stroked-button color="warn" (click)="agregarFichaTecnica()">Guardar</button>

  </form>  
  </mat-card>
</ng-container>

  
<ng-container *ngIf="fichaTecnicaGuardada">
  <mat-card>
    <h2>Tu ficha técnica fue guardada con éxito</h2>
    <p>¿Quieres editarla?</p>
    <button mat-button mat-stroked-button color="primary" (click)="editarFichaTecnica()">Editar</button>
  </mat-card>
</ng-container>