.fichaTutorado{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.seccion-1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 2%;
}

.seccion-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
}

