<ng-container *ngIf="dialogRef">
    <div class="pdf-container">
    <h2 mat-dialog-title class="highlighted-title">Ficha técnica</h2>
    <mat-dialog-content>
        <div class="info-group">
            <h3 class="title">Información Personal</h3>
            <div class="info-row">
                <div class="info-item">
                    <span class="label">Fecha Capturación de datos: </span>
                    <span>{{ timestampToMilliseconds(fichaTecnica.fecha) | date:'dd/MM/yyyy' }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Nombres: </span>
                    <span>{{ fichaTecnica.nombres }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Apellido Paterno: </span>
                    <span>{{ fichaTecnica.apellidoPaterno }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Apellido Materno: </span>
                    <span>{{ fichaTecnica.apellidoMaterno }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Carrera ala que pertenece: </span>
                    <span>{{ fichaTecnica.carrera }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Domicilio: </span>
                    <span>{{ fichaTecnica.domicilio }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Campus: </span>
                    <span>{{ fichaTecnica.campus }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Número de control: </span>
                    <span>{{ fichaTecnica.numControl }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Correo electrónico: </span>
                    <span>{{ fichaTecnica.correoElectronico }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Fecha Nacimiento: </span>
                    <span>{{ timestampToMilliseconds(fichaTecnica.fechaNacimiento) | date:'dd/MM/yyyy' }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Lugar de nacimiento:</span>
                    <span>{{ fichaTecnica.lugarNacimiento }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Semestre Actual: </span>
                    <span>{{ fichaTecnica.semestre }}</span>
                </div>
            </div>
        </div>
        <div class="info-group">
            <h3 class="title">SALUD</h3>
            <div class="info-row">
                <div class="info-item">
                    <span class="label">Padece alguna enfermedad crónica: </span>
                    <span>{{ fichaTecnica.enfermedadcronica }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Toma algún medicamento: </span>
                    <span>{{ fichaTecnica.tomamedicamento }}</span>
                </div>
                <div class="info-item">
                    <span class="label">En el transcurso de tus estudios vivirás: </span>
                    <span>{{ fichaTecnica.vivirtranscursoestudios }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Usas drogas: </span>
                    <span>{{ fichaTecnica.usodedrogas }}</span>
                </div>
            </div>
        </div>
         <div class="info-group">
            <h3 class="title">Información Escolar</h3>
            <div class="info-row">
                <div class="info-item">
                    <span class="label">Nombre preparatoria: </span>
                    <span>{{ fichaTecnica.nombreinstitucion }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Promedio general preparatoria: </span>
                    <span>{{ fichaTecnica.promgralprep }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Cuenta con beca de manutencion: </span>
                    <span>{{ fichaTecnica.becamanutencion }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Cuenta con beca de transporte: </span>
                    <span>{{ fichaTecnica.becatransporte }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Cuenta con beca de alimentacion: </span>
                    <span>{{ fichaTecnica.becaalimentacion }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Cuenta con beca no mencionada: </span>
                    <span>{{ fichaTecnica.becanomencionada }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Libros leido en los ultimos 6 meses: </span>
                    <span>{{ fichaTecnica.booksread }}</span>
                </div>
            </div>
        </div>
 <!-- Participación en Grupos -->
 <div class="info-group">
    <h3 class="title">Participación en Grupos</h3>
    <div class="info-row">
        <div class="info-item">
            <span class="label">Formo parte de grupos representativos deportivos o culturales en la preparatoria: </span>
            <span>{{ fichaTecnica.gruposrepresentativosenpreparatoria }}</span>
        </div>
        <div class="info-item">
            <span class="label">Pertenece a algún club o grupo (iglesia, social, del barrio, deportivo): </span>
            <span>{{ fichaTecnica.pertenecegrupooclub }}</span>
        </div>
        <div class="info-item">
            <span class="label">Razon para estudiar: </span>
            <span>{{ fichaTecnica.razonparaestudiar }}</span>
        </div>
    </div>
</div>

   <!-- Situación Laboral -->
   <div class="info-group">
    <h3 class="title">Situación Laboral</h3>
    <div class="info-row">
        <div class="info-item">
            <span class="label">Trabajas: </span>
            <span>{{ fichaTecnica.trabajasenlactualidad }}</span>
        </div>
        <div class="info-item">
            <span class="label">Depende economicamente de tus padres o tutores: </span>
            <span>{{ fichaTecnica.dependesdetuspadres }}</span>
        </div>
    </div>
</div>

<div class="info-group">
    <h3 class="title">Constitución Familiar</h3>
    <h5 class="title">Personas con las que vive e ingresos</h5>
    <div class="info-row" *ngFor="let persona of fichaTecnica.viveconeingresos">
        <div class="info-item">
            <span class="label">Nombre: </span>
            <span>{{ persona.nombre }}</span>
        </div>
        <div class="info-item">
            <span class="label">Edad: </span>
            <span>{{ persona.edad }}</span>
        </div>
        <div class="info-item">
            <span class="label">Ingreso Mensual: </span>
            <span>{{ persona.ingresoMensual }}</span>
        </div>
        <div class="info-item">
            <span class="label">Grado de estudios: </span>
            <span>{{ persona.gradoEstudios }}</span>
        </div>
        <div class="info-item">
            <span class="label">Ocupacion: </span>
            <span>{{ persona.ocupacion }}</span>
        </div>
        <div class="info-item">
            <span class="label">Parentesco: </span>
            <span>{{ persona.parentesco }}</span>
        </div>
    </div>
</div>

<!-- Medio de Transporte -->
<div class="info-group">
    <h3 class="title">Medio de Transporte</h3>
    <div class="info-row">
        <div class="info-item">
            <span class="label">Medios de transporte que utiliza para trasladarte de su casa a la escuela y viceversa: </span>
            <span>{{ fichaTecnica.mediotransporte }}</span>
        </div>
        <div class="info-item">
            <span class="label">Cuanto tiempo le toma llegar de su casa ala escuela: </span>
            <span>{{ fichaTecnica.tiempollegadacasaescuela }}</span>
        </div>
    </div>
</div>


<!-- Sección de Inclusión -->
<div class="info-group">
    <h3 class="title">Sección de Inclusión</h3>
    <div class="info-row">
        <div class="info-item">
            <span class="label">Discapacidad que padece: </span>
            <span>{{ fichaTecnica.discapacidadquepadece }}</span>
        </div>
        <div class="info-item">
            <span class="label">Discapacidad que psicosocial padece: </span>
            <span>{{ fichaTecnica.discapacidadpsicosocial }}</span>
        </div>
        <div class="info-item">
            <span class="label">Pertence a una etnia: </span>
            <span>{{ fichaTecnica.perteneciaaetnia }}</span>
        </div>
    </div>
</div>


    
        <button mat-button style="width: 100%;" (click)="printPDF()">Imprimir Informacion<mat-icon>picture_as_pdf</mat-icon></button>

    <mat-dialog-actions>
        <button class="close-button" mat-raised-button color="warn" (click)="dialogRef.close()">Cerrar</button>
    </mat-dialog-actions>
