<div class="titulo">
<h5>INSTITUTO TECNOLÓGICO DE CD. JUÁREZ <br>
DEPARTAMENTO DE DESARROLLO ACADÉMICO <br>
COORDINACIÓN DEL PROGRAMA INSTITUCIONAL DE TUTORÍA <br>
 REPORTE SEMESTRAL DEL TUTOR </h5> 
</div>

<div class="inputs" >
      <input class="input" id="inputNombreTutor" matInput placeholder="Nombre del tutor" >
      <input class="input" id="inputDepartamento" matInput placeholder="Departamento">
 
    <mat-form-field  class="no-outline" appearance="outline" style="width: 7%; " >
      
      <input id="inputFecha" matInput [matDatepicker]="picker" style="font-size: 0.80rem;">
      <mat-datepicker-toggle style="border: none;" matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
      <input class="input" id="programaAcademico" matInput placeholder="Programa academico de los tutorados">
      <input class="input" id="inputCohorte" matInput placeholder="Cohorte">
      <input class="input" id="inputHora" matInput placeholder="Hora">
      <input class="input" id="inputTut" matInput placeholder="Tut">
      <input class="input" id="inputGrupal" matInput placeholder="Grupal">
  
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table-responsive">
  
      <!-- Columna de nombre -->
      <!-- <ng-container matColumnDef='uid'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
        <td mat-cell *matCellDef="let element">{{element.uid}}</td>
      </ng-container> -->
    
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef matTooltip="NOMBRE" >Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
    
      <!-- Columna de edad -->
      <ng-container matColumnDef="Ncontrol">
        <th mat-header-cell *matHeaderCellDef matTooltip="NUMERO DE CONTROL" matTooltipPosition="below">No. Control</th>
        <td mat-cell *matCellDef="let element">{{element.Ncontrol}}</td>
      </ng-container>
  
     <ng-container matColumnDef='grup'>
        <th mat-header-cell *matHeaderCellDef matTooltip="GRUPO" matTooltipPosition="below">Grup</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.grup" #inputGrup>
          </mat-form-field>
        </td>
      </ng-container>
  
       <ng-container matColumnDef='ind'>
        <th mat-header-cell *matHeaderCellDef >Ind</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.ind" #inputInd>
          </mat-form-field>
        </td>
      </ng-container>
     
      <ng-container matColumnDef='conferencias'>
        <th mat-header-cell *matHeaderCellDef matTooltip="CONFERENCIAS" matTooltipPosition="below">Conferencias</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.conferencias" #inputConferencias>
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef='Beca'>
        <th mat-header-cell *matHeaderCellDef matTooltip="BECA (cual)" matTooltipPosition="below">Beca</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea" >
            <input matInput [(ngModel)]="element.Beca" #inputBeca>
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef='total'>
        <th mat-header-cell *matHeaderCellDef matTooltip="TOTAL DE MATERIAS" matTooltipPosition="below">Total</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.total" #inputTotalMaterias>
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef='apro' >
        <th mat-header-cell *matHeaderCellDef matTooltip="MATERIAS APROBADAS" matTooltipPosition="below">Apro</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea" > 
            <input matInput [(ngModel)]="element.apro" #inputMateriasAprobadas>
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef='prom'>
        <th mat-header-cell *matHeaderCellDef matTooltip="PROMEDIO" matTooltipPosition="below">Prom</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.prom" #inputPromedio>
          </mat-form-field>
        </td>
      </ng-container> 

      <ng-container matColumnDef='Acad'>
        <th mat-header-cell *matHeaderCellDef matTooltip="CANALIZACION ACADEMICA" matTooltipPosition="below">Acad</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.Acad" #inputCanalizacionAcademica>
          </mat-form-field>
        </td>
      </ng-container> 

      <ng-container matColumnDef='Psic'>
        <th mat-header-cell *matHeaderCellDef matTooltip="CANALIZACION PSICOLOGICA" matTooltipPosition="below">Psic</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.Psic" #inputCanalizacionPsicologica>
          </mat-form-field>
        </td>
      </ng-container> 

      <ng-container matColumnDef='Med'>
        <th mat-header-cell *matHeaderCellDef matTooltip="CANALIZACION MEDICA" matTooltipPosition="below">Med</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.Med" #inputCanalizacionMedica>
          </mat-form-field>
        </td>
      </ng-container> 

      <ng-container matColumnDef='Adm'>
        <th mat-header-cell *matHeaderCellDef matTooltip="CANALIZACION ADMINISTRATIVA" matTooltipPosition="below">Adm</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="sin-linea">
            <input matInput [(ngModel)]="element.Adm" #inputCanalizacionAdministrativa>
          </mat-form-field>
        </td>
      </ng-container> 
       
      <!-- Definición de columnas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay ;"></tr>
  
     
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>

  
  <div id="containerInputsAdicionales">
     <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Actividades adicionales realizadas en el semestre:</mat-label>
      <textarea matInput placeholder="" id="actividadesAdicionales"></textarea>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Observaciones</mat-label>
      <textarea matInput placeholder="" id="observaciones"></textarea>
    </mat-form-field>
  </form>
  </div>

 
  <div id="containerButtons">
    <button  mat-raised-button color="warn" (click)="generatePDF()">Generar PDF</button>
   
  </div>

 <div id="containerFirmas">
    <div class="divFirma">
      <hr class="lineaFirma">
      <hr class="lineaFirma">
      <p>Nombre y Firma Tutor</p>
    </div>

    <div class="divFirma">
      <hr class="lineaFirma">
      <hr class="lineaFirma">
      <p>Nombre y firma <br>
        Coordnador de Tutorias del Departamento
      </p>
     
    </div>

    <div class="divFirma">
      <hr class="lineaFirma">
      <hr class="lineaFirma">
      <p>Nombre y Firma <br>
      Jefe del Departamento Academico</p>
    </div>  
 </div>
  
  