
 
 <div class="cambio-rol">
  <mat-form-field class="cambio-rol-css" appearance="outline">
    <mat-label>Buscar Usuario</mat-label>
    <input matInput placeholder="ingresa nombre, correo o numero de control">
    <mat-hint>*Verifica la informacion antes de cambiar el rol de algun usuario*</mat-hint>
  </mat-form-field>
  <button style="width: 50%; margin-left: 25%;"mat-raised-button color="warn" (click)="buscarUsuario()">Buscar</button>
</div>


<div matBadge="3" matBadgeSize="large" matBadgeColor="warn" class="demo-section">Resultados de la busqueda:</div>

<mat-card style="margin-top: 2.5%;">

  <div *ngIf="mostrarResultados">
    <mat-card style="margin-top: 2.5%;">
      <mat-card-title>Nombre: {{nombre}}</mat-card-title>
      <mat-card-subtitle>Correo: {{correo}}</mat-card-subtitle>
      <mat-card-subtitle>Numero control: {{numeroControl}}</mat-card-subtitle>
      <mat-card-subtitle>Carrera: {{carrera}}</mat-card-subtitle>
      <mat-card-subtitle>Rol: {{rol}}</mat-card-subtitle>
    </mat-card>

    <mat-form-field class="cambio-de-rol">
        <mat-label>Cambiar rol de usuario a:</mat-label>
        <mat-select>
          <mat-option value="one">Coordinador</mat-option>
          <mat-option value="two">Tutor</mat-option>
          <mat-option value="three">Alumno</mat-option>
        </mat-select>
    </mat-form-field>
    <button style="width: 40%; margin-left: 10%;" mat-raised-button color="warn">Guardar</button>
  </div>
  </mat-card>