
  <div class="cambio-rol">
  <mat-form-field class="cambio-rol-css" appearance="outline">
      <mat-label>Buscar Usuario</mat-label>
      <input matInput placeholder="ingresa nombre, correo o numero de control">
      <mat-hint>*Verifica la informacion antes de cambiar el rol*</mat-hint>
    </mat-form-field>
</div>


<div matBadge="3" matBadgeSize="large" matBadgeColor="warn" class="demo-section">Resultados de la busqueda:</div>

<mat-card style="margin-top: 2.5%;">
        <mat-card-title>Nombre:</mat-card-title>
        <mat-card-subtitle>Correo:</mat-card-subtitle>
        <mat-card-subtitle>Numero control:</mat-card-subtitle>
        <mat-card-subtitle>carerra:</mat-card-subtitle>
        <mat-card-subtitle>Rol:</mat-card-subtitle>

        <mat-form-field class="cambio-de-rol">
            <mat-label>Cambiar rol de usuario a:</mat-label>
            <mat-select>
              <mat-option value="one">Coordinador</mat-option>
              <mat-option value="two">Tutor</mat-option>
              <mat-option value="three">Alumno</mat-option>
            </mat-select>
        </mat-form-field>
        <button style="width: 40%; margin-left: 10%;" mat-raised-button color="warn">Guardar</button>
  </mat-card>

  <mat-card style="margin-top: 2.5%;">
    <mat-card-title>Nombre:</mat-card-title>
    <mat-card-subtitle>Correo:</mat-card-subtitle>
    <mat-card-subtitle>Numero control:</mat-card-subtitle>
    <mat-card-subtitle>carerra:</mat-card-subtitle>
    <mat-card-subtitle>Rol:</mat-card-subtitle>

    <mat-form-field class="cambio-de-rol">
        <mat-label>Cambiar rol de usuario a:</mat-label>
        <mat-select>
          <mat-option value="one">Coordinador</mat-option>
          <mat-option value="two">Tutor</mat-option>
          <mat-option value="three">Alumno</mat-option>
        </mat-select>
    </mat-form-field>
    <button style="width: 40%; margin-left: 10%;" mat-raised-button color="warn">Guardar</button>
</mat-card>
<mat-card style="margin-top: 2.5%;">
        <mat-card-title>Nombre:</mat-card-title>
        <mat-card-subtitle>Correo:</mat-card-subtitle>
        <mat-card-subtitle>Numero control:</mat-card-subtitle>
        <mat-card-subtitle>carerra:</mat-card-subtitle>
        <mat-card-subtitle>Rol:</mat-card-subtitle>

        <mat-form-field class="cambio-de-rol">
            <mat-label>Cambiar rol de usuario a:</mat-label>
            <mat-select>
              <mat-option value="one">Coordinador</mat-option>
              <mat-option value="two">Tutor</mat-option>
              <mat-option value="three">Alumno</mat-option>
            </mat-select>
        </mat-form-field>
        <button style="width: 40%; margin-left: 10%;" mat-raised-button color="warn">Guardar</button>
  </mat-card>