<mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>
  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 4
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 5
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 6
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 7
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 8
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

  <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        Semestre 9
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: flex; flex-direction: row;">
      <div>
        <p>Sube tu carga de materias</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
      <div style="margin-left: 80%;">
        <p>Sube tus califiaciones finales</p>
        <button mat-raised-button color="warn">
          Subir 
          <mat-icon> picture_as_pdf </mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>


  <div *ngFor="let semestre of semestres">
    <mat-expansion-panel style="margin-top:0.25%;" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title style="justify-content: center;">
          Semestre {{ semestre }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction: row;">
        <div>
          <p>Sube tu carga de materias</p>
          <button mat-raised-button color="warn">
            Subir 
            <mat-icon> picture_as_pdf </mat-icon>
          </button>
        </div>
        <div style="margin-left: 80%;">
          <p>Sube tus califiaciones finales</p>
          <button mat-raised-button color="warn">
            Subir 
            <mat-icon> picture_as_pdf </mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <button mat-raised-button color="warn" style="width: 100%; margin-top: 1%;" (click)="addSemestre()">Agregar semestre</button>
