
/* Estilos base para el formulario */
.fichaTutorado {
    max-width: 100%;
    margin: 0 auto;
  }
  

.TitleSection {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333; 
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 2px solid #ddd; 
}

.custom-alert {
  background-color: rgb(252, 252, 6);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}
  .secciones {
    padding: 20px;
    border: 2px solid #b9b8b8;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  /* Media queries para tamaños de pantalla más pequeños */
  
  @media (max-width: 600px) {
    .seccion-1, .seccion-2, .seccion-3 {
      padding: 10px;
    }
  
    .mat-form-field {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 400px) {
    .mat-form-field {
      margin-bottom: 5px;
    }
  
    .mat-radio-group {
      flex-direction: row;
    }
  
    .mat-radio-button {
      margin-right: 10px;
    }
  }
