<div class="center-content">
  <mat-card class="example-card">
    <mat-card-title style="font-size:31px;">Recuperar contraseña</mat-card-title>
    <mat-card-header >
      <img style="border-radius: 100%;" mat-card-lg-image src="assets/img/Logo-SGT.png">
    </mat-card-header>

      <mat-tab-group>
        <mat-tab (ngSubmit)="recover()" [formGroup]="recoverUser">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="recemail">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <span *ngIf="recoverUser.get('recemail')?.hasError('required') && recoverUser.get('recemail')?.touched" >
            El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recoverUser.get('recemail')?.hasError('email') && recoverUser.get('recemail')?.touched" >
            El <strong>correo</strong> es invalido </span>

          <button mat-button type="submit" [disabled]="recoverUser.invalid" (click)="recover()">Recuperar contraseña</button>
          <button mat-button style="margin-top: 30px;" color="primary" routerLink="/login">Regresar</button>
        </mat-tab>
      </mat-tab-group>

  </mat-card>

</div>
