<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h2>Agregar Carrera y Materias</h2>
    <form [formGroup]="courseForm">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la carrera</mat-label>
        <input matInput formControlName="courseName">
      </mat-form-field>
  
      <ng-container *ngFor="let subjectForm of subjectForms; let i = index">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la materia</mat-label>
          <input matInput [formControl]="getSubjectNameFormControl(subjectForm)">
        </mat-form-field>
        <button *ngIf="i === subjectForms.length - 1" mat-raised-button color="primary" (click)="addSubjectForm()">Agregar Materia</button>
      </ng-container>
  
      <mat-form-field appearance="outline">
        <mat-label>Horario</mat-label>
        <input matInput formControlName="schedule">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Nombre del profesor</mat-label>
        <input matInput formControlName="professor">
      </mat-form-field>
  
    </form>
    <div *ngFor="let subject of subjects">
      {{subject.name}} - {{subject.schedule}} - {{subject.professor}}
    </div>
    <button mat-raised-button color="accent" (click)="saveCourseAndSubjects()"
      [disabled]="!courseForm.valid || subjects.length === 0">Guardar Carrera y Materias</button>
  </div>
  