
<body style="height: 100%;">
  <div class="container">
      <h2 id="styleFont" style="color:rgb(103, 9, 11); text-align:center">
          PREGUNTAS FRECUENTES
        </h2>
        <div class="layout">
          <div class="accordion">
            <div class="accordion__question" (click)="mostrarRespuesta()">
              <p>¿Requisitos para  iniciar con mi servicio social?</p>
        
            </div>
            <div class="accordion__answer" >
              <p>1- Contar con los 2 semestres extraescolares <br>
              2- Tener los creditos aprobados necesarios: <br>
              -130 creditos aprobados (interno). <br>
              -157 creditos aprobados (externo).
              </p>
            </div>
          </div>
        
          <div class="accordion">
            <div class="accordion__question" (click)="mostrarRespuesta()">
              <p>¿Cuando puedo iniciar con el proceso de Residencias?</p>
            </div>
        
            <div class="accordion__answer">
              <p>
                  Recuerda que para iniciar tus residencias debes de tener mínimo 208 créditos 
                  aprobados, las residencias las puedes iniciar en cualquier momento del semestre,
                   siempre y cuando estés inscrito en otras materias, si no,
                    deberas inscribirte durante el período de inscripciones, 
                    recuerda cuidar muy bien el tiempo de residencias mínimo 4 meses máximo 6,
                     procura planearlas para que el final de tus residencias coincidan con el período de captura de calificaciones, 
                     de lo contrario deberás inscribirte en el siguiente semestre para la captura.
              </p>
            </div>
          </div>

          <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Cuando puedo iniciar las Actividades Extraescolares?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                 Las actividades extraescolares se pueden hacer ya que esten completadas las horas de carnet
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Desde que semestre puedo cursar ingles?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  El ingles se puede cursar desde tercer semestre  
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Si no termino Residencias en 12vo Semestre que puedo hacer?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  En caso de que el período de tus residencias concluya después del período de captura de calificaciones de tu semestre 12, 
                  deberás solicitar a tu coordinador una prórroga para que te puedas 
                  inscribir en el siguiente semestre y te puedan capturar la calificación.
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Puedo llevar materias junto con residencias?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  Sí, puedes llevar residencias y materias al mismo tiempo o puedes llevar solo residencias.
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Cuantas materias puedo cursar al llevar residencias?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  Cuando se cursan residencias lo maximo que se pueden llevar son 4 materias
                  incluyendo las residencias.
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>Tutorial Residencias Profesionales</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  <a href="https://residencia.serviciosysistemasit.com/index.html" target="_blank">
                    Paso a Paso Residencia Profesional
                  </a>
                </p>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion__question" (click)="mostrarRespuesta()">
                <p>¿Necesito estar Inscrito para iniciar residencias?</p>
              </div>
          
              <div class="accordion__answer">
                <p>
                  Sí, necesitas pagar el semestre y tomar la materia de residencias
                </p>
              </div>
            </div>

        </div>
  </div>
  <div></div>
  <div></div>
  <div></div>
</body>

