<div class="packages">

  <mat-card class="card-packages">

<mat-stepper >

  <mat-step [stepControl]="newPackage"  >
    <form [formGroup]="newPackage">
      <ng-template matStepLabel>Nombre de Paquete</ng-template>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="" formControlName="namePackage" >
      </mat-form-field>
      </form>
      <div>
        <button style="width: 100%;  margin-top: 2%; background-color:#b6b6b0" (click)="savePackageName()" [disabled]="!newPackage.get('namePackage')?.value" mat-button matStepperNext>siguiente</button>
      </div>
  </mat-step>


  <mat-step [stepControl]="newPackage" label="Asingar Tutor a paquete">

    <form [formGroup]="newPackage">
      <mat-form-field style="width: 100%; margin-top: 1.5%;" appearance="outline">
        <mat-label>Buscador</mat-label>
        <input formControlName="tutor" matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field> 
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Define las columnas de la tabla -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let user">{{ user.name }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Elegir</th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button color="primary" (click)="seleccionarTutor(user)" >
                <mat-icon aria-label="Agregar tutor">add_task</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <!-- Renderiza las filas de datos -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <!-- Agrega el paginator y el buscador filtrado -->
        <mat-paginator [pageSizeOptions]="[4, 10, 20,50,100]" [pageSize]="4" [length]="dataSource.data.length"></mat-paginator>
      </div>


      <div style="width: 100%;">
        <button style="width: 50%; margin-top: 2%;  background-color:#f0f0f0" mat-button matStepperPrevious>Volver</button>
        <button style="width: 50%;  margin-top: 2%; background-color:#b6b6b0;" mat-button matStepperNext [disabled]="!newPackage.get('tutor')?.value">Siguiente</button>
      </div>
    </form>
    
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Asignar materias y horarios</ng-template>
    <form [formGroup]="newPackage">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Materia</mat-label>
        <input matInput placeholder="" formControlName="subject" >
      </mat-form-field>
    
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Horario</mat-label>
        <input matInput placeholder="" formControlName="schedule" >
      </mat-form-field>
      <!-- Botones para avanzar o retroceder en el stepper -->
      <div style="width: 100%;">
        <button style="width: 50%; margin-top: 2%;  background-color:#f0f0f0" mat-button matStepperPrevious>Volver</button>
        <button style="width: 50%;  margin-top: 2%; background-color:#b6b6b0;" mat-button matStepperNext [disabled]="!newPackage.get('subject')?.value || !newPackage.get('schedule')?.value">Siguiente</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Terminado</ng-template>
    <p>Tu paquete esta listo</p>
    <p>Tutor seleccionado para el paquete: {{nameTutor}}</p>
    <p>Nombre del paquete: {{packageName}}</p>
    <p>Materia asignada: {{newPackage.get('subject')?.value}}</p>
<p>Horario asignado: {{newPackage.get('schedule')?.value}}</p>
    <div>
      <button style="width: 50%; margin-top: 2%;  background-color:#f0f0f0" mat-button matStepperPrevious>Volver</button>
      <button style="width: 50%;  margin-top: 2%; background-color:#b6b6b0;" mat-button (click)="savePackage()" [disabled]="!newPackage.get('tutor')?.value || !newPackage.get('namePackage')?.value">Guardar</button>
    </div>
  </mat-step>
</mat-stepper>
</mat-card>
</div>