


/* Estilo para el encabezado con los campos de entrada */
.header p {
  margin: 10px;
  width: 20%;
  box-sizing: border-box;
}

.header input[matInput] {
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para la tabla */
table {
  width: 100%;
}

table input[matInput] {
  width: 100%;
}

/* Usando flexbox para .header y .title */
.header, .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Media queries para la responsividad */
@media only screen and (max-width: 768px) {
  .header p {
    width: 100%;
  }
}
