<mat-card style="margin-top: 2%;">
  <h1 style="  background: linear-gradient(-45deg, #ffffff 0%, #03ff035d 100% );
  border-radius: 5px; ">RESUMEN DE ALERTAS</h1>
  <div class="title"  style="  background: linear-gradient(-45deg, #03ff0354 0%, #ffffff 100% );
  border-radius: 5px; margin-bottom: 10px;">
  <h1>INSTITUTO TECNOLÓGICO DE CD. JUÁREZ</h1>
  <h1>PROGRAMA INSTITUCIONAL DE TUTORÍAS</h1>
</div>
<div class="header" style=" background-image: linear-gradient(163deg, #2bff0063 0%, #fcfbff 100%);
border-radius: 15px;">
<p><mat-form-field>
  <mat-label>Fecha</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
 </mat-form-field></p> 
  <p>DEPARTAMENTO: <input matInput></p>
  <p>HORARIO DE TUTORÍA: <input matInput></p> 
  <p>SEMESTRE DE INGRESO: <input matInput></p>
  <p>CARRERA: <input matInput></p>
  <p>CLAVE Y GRUPO: <input matInput></p>
  <p>Nombre del Tutor: <input matInput></p>
</div>

<table mat-table [dataSource]="dataSource">
  <!-- Nombre del Alumno Column -->
  <ng-container matColumnDef="NOMBRE">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['NOMBRE']">NOMBRE</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.name"> </td>
  </ng-container>`

  <ng-container matColumnDef="#CONTROL">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['#CONTROL']"># CONTROL</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.Ncontrol" > </td>
  </ng-container>


  <ng-container matColumnDef="EN$">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['EN$']">EN$</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.EN$"> </td>
  </ng-container>



  <ng-container matColumnDef="N$">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['N$']">N$</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.N$"> </td>
  </ng-container>

  <ng-container matColumnDef="ADA">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['ADA']">ADA</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.ADA"> </td>
  </ng-container>

  <ng-container matColumnDef="BDA">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['BDA']">BDA</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.BDA"> </td>
  </ng-container>

  <ng-container matColumnDef="SM">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['SM']">SM</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.SM"> </td>
  </ng-container>

  <ng-container matColumnDef="AE">
        <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['AE']">AE</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.AE"> </td>
  </ng-container>

  <ng-container matColumnDef="PSICOLOGIA">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['PSICOLOGIA']">PSICOLOGIA</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.PSICOLOGIA"> </td>
  </ng-container>

  <ng-container matColumnDef="DROGAS">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['DROGAS']">DROGAS</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.DROGAS"> </td>
  </ng-container>

  <ng-container matColumnDef="DISCAPACIDAD">
    <th mat-header-cell *matHeaderCellDef [title]="columnDescriptions['DISCAPACIDAD']">DISCAPACIDAD</th>
    <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.DISCAPACIDAD"> </td>
  </ng-container>


  <!-- ... Repite para cada columna ... -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>