<table mat-table [dataSource]="dataSource" matSort>

    <!-- Columna de nombre -->
    <!-- <ng-container matColumnDef='uid'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
      <td mat-cell *matCellDef="let element">{{element.uid}}</td>
    </ng-container> -->
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Columna de edad -->
    <ng-container matColumnDef="Ncontrol">
      <th mat-header-cell *matHeaderCellDef >No. Control</th>
      <td mat-cell *matCellDef="let element">{{element.Ncontrol}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef='EN$'>
      <th mat-header-cell *matHeaderCellDef >EN$</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.EN$">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef='N$'>
      <th mat-header-cell *matHeaderCellDef >N$</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.N$">
        </mat-form-field>
      </td>
    </ng-container>
   
    <ng-container matColumnDef='ADA'>
      <th mat-header-cell *matHeaderCellDef >ADA</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.ADA">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef='BDA'>
      <th mat-header-cell *matHeaderCellDef >BDA</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.BDA">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef='SM'>
      <th mat-header-cell *matHeaderCellDef >SM</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.SM">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef='AE'>
      <th mat-header-cell *matHeaderCellDef >AE</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.AE">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef='Psicologia'>
      <th mat-header-cell *matHeaderCellDef >Psicologia</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.Psicologia">
        </mat-form-field>
      </td>
    </ng-container> -->
     
    <!-- Definición de columnas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay ;"></tr>

   
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  
