<mat-toolbar>
  <span>GRUPOS</span>
</mat-toolbar>

<div *ngIf="!loadingPackages && paquetesAsignados.length > 0; else noPaquete">
  <div *ngFor="let paquete of paquetesAsignados">
    <mat-card class="card-package-tutor" style="display: flex; flex-direction: column;">

      <button [ngClass]="{
        'publish-button': true,
        'published-button': publicados[paquete.id]}" mat-raised-button [color]="publicados[paquete.id] ? 'accent' : 'primary'"
        (click)="togglePublicarPaquete(paquete.id)">
        {{ publicados[paquete.id] ? 'Publicado' : 'Publicar' }}
      </button>
      <h3>Información del paquete asignado:</h3>
      <p><strong>Nombre del paquete:</strong> {{paquete.nombrePaquete}}</p>
      <p><strong>Nombre de la carrera:</strong> {{paquete.NombreCarrera}}</p>
      <p><strong>Tutor asignado:</strong> {{infotutor?.name}}</p>
      <p><strong>Email del tutor:</strong> {{infotutor?.email}}</p>
      
      <p *ngIf="paquete.keyAuthorization; else noKey">
        <strong style="color: rgb(98, 161, 3);">CLAVE DE AUTORIZACION DE PAQUETE:</strong> {{paquete.keyAuthorization}}
      </p>
      <ng-template #noKey>
        <strong  style="color: rgb(255, 11, 11); ">ESTE PAQUETE NO CONTIENE CLAVE</strong>
      </ng-template>

      <div *ngIf="!publicados[paquete.id]">
      <div *ngIf="!editandoClave && paquete.keyAuthorization">
        <p><strong>Clave de autorización:</strong> {{paquete.keyAuthorization}}</p>
        <button mat-raised-button style="width: 100%; margin-bottom: 2%; background-color: rgb(255, 168, 168);"
          (click)="saveKeyAuthorizationedit(paquete)">Editar clave</button>
      </div>

      <div *ngIf="editandoClave || !paquete.keyAuthorization">
        <mat-form-field appearance="outline" class="key-auth-input" style="width: 100%;">
          <mat-label>Crear clave de Autorizacion</mat-label>
          <input matInput [(ngModel)]="temporaryKeys[paquete.id]">
        </mat-form-field>
        <button mat-raised-button style="width: 100%; margin-bottom: 2%;" color="warn"
          (click)="saveKeyAuthorization(paquete)">Guardar codigo de acceso</button>
      </div>
    </div>
      <div style="display: flex; flex-wrap: wrap; width: 100%;">
        <mat-accordion style="width: 50%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Materias de Paquete
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let subjectSchedule of paquete.subjectsAndSchedules">
              <p><b>Materia:</b> {{subjectSchedule.subject}}</p>
              <p><b>Horario:</b> {{subjectSchedule.schedule}}</p>
              <p><b>Profesor:</b> {{subjectSchedule.teacher}}</p>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion style="width: 50%;">

          <mat-expansion-panel *ngFor="let tutorado of paquete.tutoradospkg" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ tutorado.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <p><strong>Email:</strong> {{ tutorado.email }}</p>
              <p><strong>Numero de control:</strong> {{ tutorado.Ncontrol }}</p>
            </div>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ver calificaciones
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngIf="tutorado.grades && tutorado.grades.length > 0">
                <p *ngFor="let grade of tutorado.grades"><b>{{ grade.subject }}:</b> {{ grade.grade }}</p>
              </div>
              <div *ngIf="!tutorado.grades || tutorado.grades.length === 0">
                <p>Este alumno no ha capturado calificaciones.</p>
              </div>
            </mat-expansion-panel>
            <button mat-stroked-button style="background-color: rgb(255, 190, 190); width: 100%; margin-top: 2%;" (click)="getFichaTecnica(tutorado.uid)">Estuduio socioeconomico<mat-icon>data_usage</mat-icon></button>
            <button mat-stroked-button style="background-color: rgb(255, 190, 190); width: 100%; margin-top: 2%;" (click)="getinterviews(tutorado.uid)">Entrevista a tutorado<mat-icon>data_usage</mat-icon></button>
            <button mat-stroked-button color="primary" style="width: 100%; margin-top: 3%;"
              (click)="generateReport(tutorado)">Reporte Calificacionese Individual <mat-icon>picture_as_pdf</mat-icon></button>
          </mat-expansion-panel>
          <button *ngIf="paquete.tutoradospkg && paquete.tutoradospkg.length > 0" mat-raised-button color="primary" style="width: 100%; margin-top: 3%;" 
            (click)="generateGeneralReport(paquete)">
            Reporte Calificaciones grupal <mat-icon>picture_as_pdf</mat-icon>
          </button>          
        </mat-accordion>
      </div>
      <hr>
    </mat-card>
  </div>
</div>
<ng-template #noPaquete>
  <mat-card *ngIf="!loadingPackages" class="example-card">
    <mat-card-header>
      <mat-card-title>Tutor</mat-card-title>
      <mat-card-subtitle>Usted no tiene Paquetes asignados</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


</ng-template>