<div class="container-main">
  <button mat-icon-button (click)="toggleDeleteMode()" class="delete-button" [ngClass]="{'delete-active': deleteModeActive}">
    <mat-icon>delete</mat-icon>
  </button>

<div class="container-scroll">
  <div class="container-view-package">
    <mat-card class="card-view" *ngFor="let pkg of packages" [ngClass]="{'delete-active-card': deleteModeActive && pkg.toDelete, 'delete-mode': deleteModeActive}">
      <button mat-icon-button (click)="togglePackageToDelete(pkg, $event); $event.stopPropagation()" class="delete-button" *ngIf="deleteModeActive" [ngClass]="{'delete-active': pkg.toDelete}">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-card-content style="text-align: center; font-size: 1.5em; font-weight: bold;">{{pkg.nombrePaquete}}</mat-card-content>
      <mat-card-content class="package-info">
        <mat-card-content class="package-info">
          <h2>Paquete para carrera:</h2>  {{pkg.NombreCarrera}}
        </mat-card-content>
        <h2>Tutor Asignado:</h2> {{pkg.TutorAsignado.name}}
      </mat-card-content>
      <mat-card-content class="package-info">
        <h2>Email:</h2> {{pkg.TutorAsignado.email}}
      </mat-card-content>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Materias de Paquete
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let subjectSchedule of pkg.subjectsAndSchedules">
            <p><b>Materia:</b> {{subjectSchedule.subject}}</p>
            <p><b>Horario:</b> {{subjectSchedule.schedule}}</p>
            <p><b>Profesor:</b> {{subjectSchedule.teacher}}</p>
            <hr *ngIf="!last">
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card> 
  </div>
</div>
</div>