.container-view-package {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-scroll {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 470px;
  overflow-y: auto;
  border: 2px solid #626262;
  border-radius: 10px;
  padding: 1em;
  gap: 1em;
}

.card-view {
  margin-top: 3%;
  width: 100%;
  height: auto;
  box-shadow: inset 0 -3em 3em rgba(165, 163, 163, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(175, 175, 175, 0.3);
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

/* Media queries */
@media (min-width: 992px) {
  .card-view {
    width: 60%;
    min-height: 0%;  
  }
}

@media (min-width: 1200px) {
  .card-view {
    width: 30%;
   min-height: 0%;  
  }
}


.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
}

.delete-active {
  background-color: red;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.delete-mode {
  border: 2px solid red;
  cursor: pointer;
}

.delete-active-card {
  background-color: rgba(255, 0, 0, 0.1);
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 2px) rotate(1deg); }
  30% { transform: translate(2px, -2px) rotate(0deg); }
  40% { transform: translate(2px, 2px) rotate(1deg); }
  50% { transform: translate(-2px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, -2px) rotate(0deg); }
  70% { transform: translate(2px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(2px, -2px) rotate(-1deg); }
}